.social {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  box-sizing: border-box;

  .title {
    color: white;
    font-family: "Orbitron", sans-serif;
  }

  .social_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .social_section_label {
      font-size: 1.15rem;
      margin: 0.5rem;
      text-align: center;
      color: white;
      font-weight: 500;
      font-family: "Orbitron", sans-serif;
    }

    .social_button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      cursor: pointer;
      background-color: #f2f2f2;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      .social_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: auto;
      }
      .social_username {
        flex: 1;
        text-align: center;
        color: black;
        font-weight: 600;
        font-size: 1.1rem;
        padding-right: 2.5rem;
      }
    }
  }
}
