.song_item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 15px;
  pointer-events: auto;
  filter: opacity(0);
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0.7rem;
  border-radius: 1rem;
  // animation: fakeFadeIn 0.5s ease forwards;
  // animation-delay: calc(var(--i, 0) * 0.04s);

  &.fade_in {
    filter: opacity(0);
    animation: fakeFadeIn 0.5s ease forwards;
  }

  &.fade_out {
    pointer-events: none;
    filter: opacity(1);
    animation: fakeFadeOut 0.5s ease forwards;
  }

  .song_cover {
    height: 60px;
    width: 60px;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }

  .song_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    flex: 1;
    min-width: 0;

    .song_title,
    .song_singer {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .song_title {
      font-size: 1.1em;
      font-weight: bold;
    }

    .song_singer {
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  .song_buttons_container {
    display: flex;
    align-items: center;

    .song_vote {
      height: 40px;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      background-color: rgba(159, 159, 159, 0.292);
      padding: 0px 1rem;
      border-radius: 50px;

      .vote_count {
        font-size: 1rem;
        color: white;
        font-weight: bold;
        padding-top: 1px;
      }
      i {
        font-size: 1.7rem;
      }
    }
    .song_toggle_played {
      height: 40px;
      font-size: 1.7rem;
      padding: 0 1rem;
    }
    .disabled {
      opacity: 0.2;
    }
  }
}

@keyframes fakeFadeIn {
  from {
    filter: opacity(0);
    transform: scale(0.8) translateY(-20px);
  }
  to {
    filter: opacity(1);
    transform: scale(1) translateY(0);
  }
}

@keyframes fakeFadeOut {
  from {
    filter: opacity(1);
    transform: scale(1) translateY(0);
  }
  to {
    filter: opacity(0);
    transform: scale(0.8) translateY(-20px);
  }
}

@keyframes like-pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.song_item.inview {
  animation: fakeFadeIn 0.5s ease forwards;
}
