.song_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  pointer-events: auto;
  filter: opacity(0);
  transform: scale(0.98) translateY(20px);
  animation: fakeFadeIn 0.75s ease forwards;
  animation-delay: calc(var(--i, 0) * 0.1s);

  &.invisible {
    opacity: 0 !important;
    pointer-events: none;
  }

  &.fade-in {
    opacity: 1 !important;
  }

  .song_cover {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    flex-shrink: 0;
  }

  .song_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    flex: 1;
    min-width: 0;

    .song_title,
    .song_singer {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .song_title {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .song_singer {
      font-size: 0.9rem;
    }
  }

  .song_buttons_container {
    display: flex;
    align-items: center;

    .song_vote {
      height: 40px;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      background-color: rgba(159, 159, 159, 0.292);
      padding: 0px 1rem;
      border-radius: 50px;

      span {
        font-size: 1rem;
        color: white;
        font-weight: bold;
      }
      i {
        font-size: 1.7rem;
      }
    }
    .song_toggle_played {
      height: 40px;
      font-size: 1.7rem;
      padding: 0 1rem;
    }
    .disabled {
      opacity: 0.2;
    }
  }
}

@keyframes like-pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: like-pop 0.2s ease;
}

@keyframes fakeFadeIn {
  to {
    transform: scale(1) translateY(0);
    filter: opacity(1);
  }
}

@keyframes check-pop {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-check {
  animation: check-pop 0.3s ease;
}
