.layout-wrapper {
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

.bg-static {
  display: flex;
  min-height: 100dvh;
  background-image: url("/images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
}

.bg-gradient {
  background: linear-gradient(
    270deg,
    #100000,
    #5e1212,
    #801f3a,
    #801f3a,
    #4a1e59,
    #24072e,
    #100000
  );
  background-size: 1400% 1400%;
  animation: gradientBG 15s ease-in-out infinite;
  min-height: 100dvh;
}

.hamburger {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
