.homepage {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding: 2rem 0;
  box-sizing: border-box;

  .logo {
    background-image: url("/images/karaoke_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 600px;
    aspect-ratio: 1;
    opacity: 0;
    transform: scale(0.8);
    animation: logoIn 1s ease-out forwards;
    animation-delay: 0.2s;
  }

  .buttons_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    button {
      opacity: 0;
      transform: scale(0.8) translateY(50px);
      animation: buttonIn 1s ease-out forwards;
      padding: 12px 24px 12px 24px;

      &:nth-child(1) {
        animation-delay: 0.4s;
      }
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.7s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
      &:nth-child(6) {
        animation-delay: 0.9s;
      }

      svg {
        margin-right: auto;
        font-size: 1.5rem;
      }

      .button_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        flex: 1;

        .button_title {
          font-weight: 600;
          font-size: 1rem;
        }
        .button_description {
          margin: 0;
          max-width: 90%;
          font-size: clamp(0.6rem, 2.75vw, 0.8rem);
        }
      }
    }
  }
}

@keyframes logoIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes buttonIn {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
